<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    stopOnFailure="false"
    bootstrap="test/bootstrap.php"
    verbose="true"
    strict="true"
    >

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <ini name="xdebug.scream" value="0" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" />
    </logging>

</phpunit>
